In [18]:
import pandas as pd
from sqlalchemy import create_engine

In [19]:
trips = pd.read_csv('green_tripdata_2019-09.csv.gz')
zones = pd.read_csv('taxi_zone_lookup.csv')

/tmp/ipykernel_11761/2930099846.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = pd.read_csv('green_tripdata_2019-09.csv.gz')

In [20]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449063 entries, 0 to 449062
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               389920 non-null  float64
 1   lpep_pickup_datetime   449063 non-null  object
 2   lpep_dropoff_datetime  449063 non-null  object
 3   store_and_fwd_flag     389920 non-null  object
 4   RatecodeID             389920 non-null  float64
 5   PULocationID           449063 non-null  int64
 6   DOLocationID           449063 non-null  int64
 7   passenger_count        389920 non-null  float64
 8   trip_distance          449063 non-null  float64
 9   fare_amount            449063 non-null  float64
 10  extra                  449063 non-null  float64
 11  mta_tax                449063 non-null  float64
 12  tip_amount             449063 non-null  float64
 13  tolls_amount           449063 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  449063 non-null  float64
 16  total_amount           449063 non-null  float64
 17  payment_type           389920 non-null  float64
 18  trip_type              389920 non-null  float64
 19  congestion_surcharge   389920 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 68.5+ MB

In [21]:
zones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [22]:
# initiating connection cred

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [23]:
# green trips pipeline

trips['lpep_pickup_datetime'] = pd.to_datetime(trips['lpep_pickup_datetime'])
trips['lpep_dropoff_datetime'] = pd.to_datetime(trips['lpep_dropoff_datetime'])

trips.head(0).to_sql(name='green_taxi_data',con=engine,if_exists='replace')

%time trips.to_sql(name='green_taxi_data',con=engine,if_exists='append')

CPU times: user 32.8 s, sys: 326 ms, total: 33.2 s
Wall time: 48.5 s

63

In [24]:
# zones pipeline

zones.head(0).to_sql(name='taxi_zones',con=engine,if_exists='replace')

%time zones.to_sql(name='taxi_zones',con=engine,if_exists='append')

CPU times: user 6.45 ms, sys: 22 Âµs, total: 6.47 ms
Wall time: 16.4 ms

265